label {
	display: block;
	margin-bottom: 10px;
	color: #f72585; 
	font-weight: bold;
	text-shadow: 0 0 5px #f72585, 0 0 10px #f72585;
}

input {
	display: block;
	margin-bottom: 10px;
	padding: 8px;
	border: 2px solid #7209b7; /* neon purple */
	background-color: #1a1a1a;
	color: #f1f1f1;
	border-radius: 4px;
	outline: none;
	box-shadow: 0 0 5px #7209b7, 0 0 10px #3a0ca3;
}

input:focus {
	box-shadow: 0 0 8px #f72585, 0 0 15px #f72585;
	border-color: #f72585;
}

button {
	display: block;
	margin-bottom: 10px;
	padding: 10px 20px;
	background-color: #3a0ca3; 
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 0 0 8px #3a0ca3, 0 0 15px #7209b7;
}

button:hover {
	background-color: #f72585;
	box-shadow: 0 0 10px #f72585, 0 0 20px #f72585;
}

body{
	background: #777777;
}